/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #cd27a6;
    text-align: left;
    margin: 20px;
}

h1 {
    color: #5a0ed4;
}

input {
    padding: 8px;
    margin: 10px;
}

